.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: 50vw;
  min-width: 417px;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: medium;
  border: 2px solid #ccc;
  border-radius: 10px;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(119, 91, 198, 0.48);
}

.search-input:focus.dark {
  border-color: var(--secondary-color-dark);
}

.search-input:focus.light {
  border-color: var(--secondary-color-light);
}

.loader {
  position: fixed;
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: l16 1s infinite linear;
  right: 50%;
  z-index: 200;
}

.loader::before,
.loader::after {
  content: '';
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  z-index: 200;
}

.loader::before {
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.loader.dark::before {
  border-color: #33b4f0 #0000;
}

.loader.light::before {
  border-color: var(--secondary-color-light) #0000;
}

.loader::after {
  margin: 8px;
}

@keyframes l16 {
  100% {
    transform: rotate(1turn);
  }
}

@media screen and (max-width: 437px) {
  .search-form {
    width: 80vw;
    min-width: 0px;
  }
}
