.passwordStrengthMeter {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.strengthBar {
  width: 7vw;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  transition: background-color 0.3s;
  box-shadow: 2px 1px 1px var(--secondary-color);
}

.weak {
  background-color: #b02f2f;
}

.fair {
  background-color: #d47516;
}

.good {
  background-color: #e9bb06;
}

.strong {
  background-color: #4db481;
}
