.tile {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.355);
  margin: 16px;
  padding: 16px;
  height: 60vh;
  width: 30vh;
  background: var(--background-color);
  transition: all 0.3s ease-in-out;
}

.highlighted {
  border: 2px solid var(--secondary-color);
  box-shadow: 0 0 8px rgba(126, 137, 181, 0.69);
  background: var(--secondary-background-color);
  transition: all 0.3s ease-in-out;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.image {
  max-width: 100%;
  height: 25vh;
  width: 25vh;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.529);
}

.details {
  text-align: center;
}

.name {
  font-size: 1.5em;
  margin-bottom: 8px;
}

.email,
.country,
.password,
.gender,
.age {
  margin: 4px 0;
}
