.modal-window {
  position: fixed;
  bottom: 5%;
  left: 2%;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  text-align: center;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0px 6px 18px -5px rgba(0, 0, 0, 0.2);
  z-index: 400;
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.5s forwards;
}

.modal-window.light {
  background-color: white;
}

.modal-window.dark {
  color: white;
  background: linear-gradient(to right, #6aa3b1e4, #234976e2);
}

.modal-window img {
  height: 64px;
  margin-bottom: 15px;
}

.modal-window p {
  margin-bottom: 20px;
  font-size: 18px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.buttons button {
  flex: 1;
  margin: 0 5px;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.modal-window.exit {
  animation: slideOut 0.5s forwards;
}

@media screen and (max-width: 1268px) {
  .modal-window {
    bottom: 10%;
  }
}

.close-button {
  box-sizing: border-box;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 40px;
  position: absolute;
  top: 5%;
  right: 5%;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: black;
}

.close-button::after,
.close-button::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 12px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 3px;
  transition: all 0.3s ease-in-out;
}

.close-button::after {
  transform: rotate(-45deg);
}

.close-button:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
}

.close-button:hover::after,
.close-button:hover::before {
  background: white;
}
