.modal-window {
  position: fixed;
  bottom: 5%;
  left: 2%;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  text-align: center;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0px 6px 18px -5px rgba(0, 0, 0, 0.2);
  z-index: 400;
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.5s forwards;
}

.modal-window.light {
  background-color: white;
}

.modal-window.dark {
  color: white;
  background: linear-gradient(to right, #6aa3b1e4, #234976e2);
}

.modal-window-image {
  height: 64px;
  width: auto;
  margin-bottom: 15px;
}

.modal-window p {
  margin-bottom: 20px;
  font-size: 18px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.buttons button {
  flex: 1;
  margin: 0 5px;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.modal-window.exit {
  animation: slideOut 0.5s forwards;
}

@media screen and (max-width: 600px) {
  .modal-window {
    width: 60vw;
  }

  .modal-window p,
  .modal-window button {
    font-size: 10px;
  }

  .modal-window-image {
    display: none;
  }
}
